{% extends "custom-layout.html" %}
{% block body %}
	<h1>About This Project</h1>
	<p>This is my final class project for 
	<a href="http://www.hackbrightacademy.com">Hackbright Academy</a>.</p>
		<br>
		<p>This site uses the Regressive Imagery Dictionary and d3.js to visualize the relationship between users.</p>
		<br>
		<p> The graph going down the page corresponds with the tweets on the left side.  </p>
		<br>
		<p>Each layer represents a category and sub-category of psychological content in the corresponding tweet.
			The size of the layer represents the number of words that fell into that category, while the color of the layers represents which user sent the tweet.  Hover over each layer to see the layer data (username, category, sub-category).</p>
		<br>
		About the <a href="http://www.kovcomp.co.uk/wordstat/RID.html">Regressive Imagery Dictionary:</a>

		<blockquote>

			<p>"The Regressive Imagery Dictionary (Martindale, 1975,1990) is a content analysis coding scheme designed to measure primordial vs. conceptual thinking. </p>
			<br>
			<p>Conceptual thought is abstract, logical, reality oriented, and aimed at problem solving.</p>
			<br>
			<p>Primordial thought is associative, concrete, and takes little account of reality. It is the type of thinking found in fantasy, reverie, and dreams.</p>
			<br>
			<p>The Regressive Imagery Dictionary contains about 3000 words divided into twenty-nine categories designed to measure primordial content and another set of seven categories designed to measure conceptual thought, the inverse of primordial cognition.</p>
			<br>
			<p>The rationale behind the dictionary is that psychological processes will be reflected in the content of a text."</p>
		</blockquote>
		{% endblock %}
