{% extends "layout.html" %}
{% block body %}
	<h1 align="center">About This Project</h1>
	<p>This is my final class project for 
	<a href="http://www.hackbrightacademy.com">Hackbright Academy</a>.</p>
		<br>
		<p>This site uses the Regressive Imagery Dictionary to perform psychological content analysis on the @replies and mentions between one user and another.</p>

		<br>
		About the <a href="http://www.kovcomp.co.uk/wordstat/RID.html">Regressive Imagery Dictionary:</a>

		<blockquote>

			<p>"The Regressive Imagery Dictionary (Martindale, 1975,1990) is a content analysis coding scheme designed to measure primordial vs. conceptual thinking. </p>
			<br>
			<p>Conceptual thought is abstract, logical, reality oriented, and aimed at problem solving.</p>
			<br>
			<p>Primordial thought is associative, concrete, and takes little account of reality. It is the type of thinking found in fantasy, reverie, and dreams.</p>
			<br>
			<p>The Regressive Imagery Dictionary contains about 3000 words divided into twenty-nine categories designed to measure primordial content and another set of seven categories designed to measure conceptual thought, the inverse of primordial cognition.</p>
			<br>
			<p>The rationale behind the dictionary is that psychological processes will be reflected in the content of a text."</p>
		</blockquote>
		{% endblock %}
