<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>D3 Test</title>
        <script type="text/javascript" src="http://d3js.org/d3.v3.js"></script>
        <style type="text/css">
    </style>

    </head>
    <body>
      
        <script type="text/javascript">

    // x is time
    // y is value
    // data
    var layers = [
    
      { 
        "name": "primary",
        "values": [
          { "x": 0, "y":  91},
          { "x": 1, "y": 290},
          { "x": 2, "y": 100},
          { "x": 3, "y": 80}
        ]
      },
      
      {  
        "name": "secondary",
        "values": [
          { "x": 0, "y":  9},
          { "x": 1, "y": 49},
          { "x": 2, "y": 100},
          { "x": 3, "y": 120}
        ]
      },
      {  
        "name": "emotions",
        "values": [
          { "x": 0, "y":  9},
          { "x": 1, "y": 49},
          { "x": 2, "y": 100},
          { "x": 3, "y": 120}
        ]
      },
    ];

var m = 4; // number of samples per layer
var width = 1000,
    height = 500,
    mx = m - 1,
    my = 350;

// creates a values accessor for each layer
var stack = d3.layout.stack()
    .offset("wiggle")
    .values(function(d) { return d.values; });


var area = d3.svg.area()
    .x(function(d) { return d.x * width / mx; })
    // y0 is the baseline value
    .y0(function(d) { return height - d.y0 * height / my; })
    .y1(function(d) { return height - (d.y + d.y0) * height / my;});
    //.interpolate('basis');

  var svg = d3.select("body")
  .append("svg")
    .attr("width", width)
    .attr("height", height);

var color = d3.scale.linear()
    // what is the middle argument doing? is it the midpoint?
    .range(["#aad", "#609", "e0f"]);

/*
var area = d3.svg.area()
    .x(function(d) { return x(d.x); })
    .y0(function(d) { return y(d.y0); })
    .y1(function(d) { return y(d.y0  d.y); });
    */

svg.selectAll("path")
    .data(stack(layers))
  .enter()
  .append("path")
    .attr("d", function(d) {
      return area(d.values);
    })
  .style("fill", function() { 
    return color(Math.random()); 
  })
  .append("title")
    .text(function(d) { 
      return d.name; 
    });
</script>
</body>
</html>