<head>
  <link href='http://fonts.googleapis.com/css?family=Quicksand:300,400,700' rel='stylesheet' type='text/css'></link>
</head>

{% block body %}

{% for i in range(num_tweets) %}
  {% if tweet_list[i].from_user == user1 %}
    <div class="tweet user1" style="top: {{ 50 * i }}px">
  {% else %}
    <div class="tweet user2" style="top: {{ 50 * i }}px">
  {% endif %}
    {{ tweet_list[i].text }}
  </div>
{% endfor %}

<style>
body {
  font-family: 'Quicksand', "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: relative;
  padding: 0;
  margin: 0;
  color: #eee;
  background: #222;
}

svg {
  margin-top: 0;
  margin-left: 50%;
}

.tweet {
  position: absolute;
  width: 400px;
  height: 50px;
  line-height: 1.1em;
  font-size: 10pt;
  text-align: right;
  left: 20%;
  font-weight: 300;
}

.tweet.user2 {
  color: #aaf;
}

</style>
<script src="http://d3js.org/d3.v3.min.js"></script>
<script>


var layers = {{ data|safe }}


var m = layers[0].values.length // number of samples per layer
// this will vary by graph, but how do I show that?

var width = 50 * m,
    height = window.innerHeight / 2;

// creates a values accessor for each layer
var stack = d3.layout.stack()
    .offset("silhouette")
    .values(function(d) { return d.values; });

stackedLayers = stack(layers);

var xScale = d3.scale.linear()
    .domain([1, m - 2])
    .range([0, width]);

var yScale = d3.scale.linear()
    .domain([0, d3.max(stackedLayers[stackedLayers.length-1].values, 
      function (d) {
        return d.y + d.y0;
      }
    )
  ])
    .range([height, 0]);
    
/*
var area = d3.svg.area()
    .x(function(d) { return xScale(d.x) })
    // y0 is the baseline value
    .y0(function(d) { return yScale(d.y0); })
    .y1(function(d) { return yScale(d.y + d.y0);})
    .interpolate('basis-open');
    */

var area = d3.svg.area()
    .x0(function(d) { return yScale(d.y0); })
    .x1(function(d) { return yScale(d.y0 + d.y); })
    .y(function(d) { return xScale(d.x); })
    .interpolate('basis');  // this is important for a smooth cunt.

  var svg = d3.select("body")
  .append("svg")
    .attr("width", height)
    .attr("height", width);

var firstUser = null;

var userColor1 = d3.scale.linear()
    .range(["#240", "#2f0"]);

var userColor2 = d3.scale.linear()
    .range(["#640", "#fe0"]);

svg.selectAll("path")
  .data(stackedLayers)
  .enter()
  .append("path")
    .attr("d", function(d) {
      return area(d.values);
    })
  .style("fill", function(d) { 
    if (firstUser == null) {
      firstUser = d.username;
    }
    if (d.username == firstUser) {
      return userColor1(Math.random());
    } else {
      return userColor2(Math.random());
    }
  })
  .append("title")
    .text(function(d) { 
      return d.name; 
    });
</script>

{% endblock %}