{% extends "layout.html" %}
{% block body %}

<style>
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: auto;
  position: relative;
  width: 960px;
}


</style>
<script src="http://d3js.org/d3.v3.min.js"></script>
<script>

    // x is time
    // y is value
    // data

    /*
    var layers = [
    
      { 
        "name": "primary",
        "values": [
          { "x": 0, "y":  91},
          { "x": 1, "y": 290},
          { "x": 2, "y": 100},
          { "x": 3, "y": 80}
        ]
      },
      
      {  
        "name": "secondary",
        "values": [
          { "x": 0, "y":  9},
          { "x": 1, "y": 49},
          { "x": 2, "y": 100},
          { "x": 3, "y": 120}
        ]
      },
      {  
        "name": "emotions",
        "values": [
          { "x": 0, "y":  9},
          { "x": 1, "y": 49},
          { "x": 2, "y": 100},
          { "x": 3, "y": 120}
        ]
      },
    ];
*/

var layers = {{ data|safe }}


var m = layers[0].values.length // number of samples per layer
// this will vary by graph, but how do I show that?

var width = 50 * m,
    height = 1000;

// creates a values accessor for each layer
var stack = d3.layout.stack()
    .offset("wiggle")
    .values(function(d) { return d.values; });

stackedLayers = stack(layers);

var xScale = d3.scale.linear()
    .domain([0, m])
    .range([0, width]);

var yScale = d3.scale.linear()
    .domain([0, d3.max(stackedLayers[stackedLayers.length-1].values, 
      function (d) {
        return d.y + d.y0;
      }
    )
  ])
    .range([height, 0]);
    

var area = d3.svg.area()
    .x(function(d) { return xScale(d.x) })
    // y0 is the baseline value
    .y0(function(d) { return yScale(d.y0); })
    .y1(function(d) { return yScale(d.y + d.y0);})
    .interpolate('basis-open');

  var svg = d3.select("body")
  .append("svg")
    .attr("width", width)
    .attr("height", height);

var color = d3.scale.linear()
    // what is the middle argument doing? is it the midpoint?
    .range(["#aad", "#609", "e0f"]);

/*
var area = d3.svg.area()
    .x(function(d) { return x(d.x); })
    .y0(function(d) { return y(d.y0); })
    .y1(function(d) { return y(d.y0  d.y); });
    */

svg.selectAll("path")
  .data(stackedLayers)
  .enter()
  .append("path")
    .attr("d", function(d) {
      return area(d.values);
    })
  .style("fill", function() { 
    return color(Math.random()); 
  })
  .append("title")
    .text(function(d) { 
      return d.name; 
    });
</script>

{% endblock %}