
{% extends "custom-layout.html" %}

{% block body %}
    <title>140 You And Me</title>
    <h1>140 You And Me</h1>
    If a relationship was a river, what would it look like?

     <form class="form" method="get" action="/graph">
        <div class="box">
          <h1>Visualize A Relationship</h1>
          <label>
            <span>Twitter username:</span>
          </label>
          <br>
          <input type="text" class="input_text" name="user_1_screen_name"
               id="user_1_screen_name" placeholder="@somebody">
          <br>
          <label>
            <span>Twitter username:</span>
          </label>
          <br>
          <input type="text" class="input_text" name="user_2_screen_name"
                id="user_2_screen_name" placeholder="@your_mom">
          <br>
          <input type="submit" class="button" value="visualize" action="submit"/>
          <br>
        </div>
    </form>
{% endblock %}