{% extends "layout.html" %}
{% block body %}
    <title>148-Bit_Love</title>
    <h1>Are you ready for some cupcakes, bitches?</h1>
    Some stuff will go here evetually but for now it's just filler.

    <form class="form-horizontal">
  <div class="control-group">
    <label class="control-label" for="user_1_screen_name">Twitter name</label>
    <div class="controls">
      <input type="text" id="user_1_screen_name" placeholder="@whomever">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputPassword">Twitter name</label>
    <div class="controls">
      <input type="text" id="user_2_screen_name" placeholder="@your_mom">
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn btn-large btn-inverse">Analyze</button>
    </div>
  </div>
</form>

{% endblock %}