{% extends "layout.html" %}
{% block body %}
<!DOCTYPE html>
<meta charset="utf-8">
<title>Streamgraph</title>
<style>

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: auto;
  position: relative;
  width: 960px;
}

button {
  position: absolute;
  right: 10px;
  top: 10px;
}

</style>
<button onclick="transition()">Update</button>
<script src="http://d3js.org/d3.v3.min.js"></script>
<script>

var n = 15, // number of layers
    m = 25, // number of samples per layer

    // d3.layout.stack() creates a values accessor that retrieves the points for each layer
    stack = d3.layout.stack()

    // .offset("wiggle") minimizes weighted change in slope.
    // THAT'S WHAT MAKES IT A STREAMGRAPH
    // OMG I AM FINALLY UNDERSTANDING THIS? MAYBE? MAYBE.
    .offset("wiggle"),

  
  // layers0 is an array of size n.
  // Each element in layers0 is an array of size m that contains ({x: i, y: Math.max(0, d)}; });
  // I think?

  // layers0 is the current graph
  // layers1 is the next graph
    layers0 = stack(d3.range(n)

      //map calls a function on every value in an array, returns new array containing results
      .map(function() { 
        return bumpLayer(m); 
      })),
    layers1 = stack(d3.range(n)
      .map(function() { 
        return bumpLayer(m); 
      }));

// width and size of the whole graph
var width = 960,
    height = 500;

var x = d3.scale.linear()
    // input values are min 0, max one less than the total number of samples per layer (m)
    .domain([0, m - 1])
    // output values are min 0, max width of the whole dang graph
    .range([0, width]);

var y = d3.scale.linear()
    // input values are min 0, max ... uhh ... I'm confused
    // max largest y value in this array or the next array?
    .domain([0, d3.max(layers0.concat(layers1), 
      function(layer) { 
        return d3.max(layer, 
          function(d) { 
            return d.y0 + d.y; 
          }); 
      })
    ])
    // input values is min zero, max the highest value in this graph (layers0) or the next graph (layers1)
    .range([height, 0]);
    // output values are... max height, min 0? I'm confused.

var color = d3.scale.linear()
    // what is the middle argument doing? is it the midpoint?
    .range(["#aad", "#000", "000"]);

var area = d3.svg.area()
    .x(function(d) { return x(d.x); })
    .y0(function(d) { return y(d.y0); })
    .y1(function(d) { return y(d.y0 + d.y); });

var svg = d3.select("body").append("svg")
    .attr("width", width)
    .attr("height", height);

/*
Is selectAll taking a selector, or nodes, as a parameter? I think it's taking nodes, because stack is a values accessor
*/

// fills each layer with a color in specified color range
svg.selectAll("path")
    .data(layers0)
    .enter()
    .append("path")
    .attr("d", area)
    .style("fill", function() {
     return color(Math.random()); 
   });

//Probably don't need this for my application.
function transition() {
  d3.selectAll("path")
      .data(function() {
        var d = layers1;
        layers1 = layers0;
        return layers0 = d;
      })
    .transition()
      .duration(2500)
      .attr("d", area);
}


// Inspired by Lee Byron's test data generator.
// maybe I shouldn't worry about the random data, and try to get my data into the graph instead?
// this function returns { return {x: i, y: Math.max(0, d)}; });

function bumpLayer(n) {

  function bump(a) {
    // generates x, y, z (coordinates?)
    var x = 1 / (.1 + Math.random()),
        // math.random returns a random number between 1 and 10
        // x is one divided by (.1 + random)
        // therefore x is between .9 and .10
        y = 2 * Math.random() - .5,
        // y is twice random minus .5
        // therefore y is max 17.5, min 1.5
        z = 10 / (.1 + Math.random());
        // z is ten divided by (.1 + random)
        // therefore z is max 9. 09, min .52,  
    for (var i = 0; i < n; i++) {
      // loop runs once for each layer
      var w = (i / n - y) * z;
      // w is (iterator / number of layers minus y) times z
      a[i] += x * Math.exp(-w * w);
      // Math.exp(value) returns 2.7183 to the power of value
      // a[interator] += (x * ((negative w squared to the power of 2.7183))
    }
  }

  // a is an empty array, i is an iterator
  var a = [], i;
  // loop runs once for each layer (n is number of layers)
  for (i = 0; i < n; ++i) a[i] = 0;
  for (i = 0; i < 5; ++i) bump(a);
  return a.map(function(d, i) { return {x: i, y: Math.max(0, d)}; });
}

</script>

{% endblock %}